.gallery-form {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 20px 0;
    border-top: 1px solid darkorange;
}

.gallery-form .form-group {
    margin: 0;
}

.gallery-form .col-form-label {
    width: 500px;
}